.visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.defaultButton {
    border: none;
    margin: 0;
    min-width: 50px;
    max-width: 100%;
    min-height: 50px;
    font-family: inherit;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    color: #2D3B87;
    background: #F4F5F9;
    border-radius: 10px;
    cursor: pointer;
}
