/*global*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

.html {
    max-width: 100vw;
    height: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    max-width: 100%;
    object-fit: cover;
}

body {
    max-width: 1247px;
    height: 100vh;
    margin: 0 auto;
    padding: 0 40px;
    font-family: "Rubik", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 394px) {
    body {
        padding: 15px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.button {
    border: none;
    margin: 0;
    min-width: 50px;
    min-height: 50px;
    max-width: 100%;
    font-family: inherit;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    color: #2D3B87;
    background: #F4F5F9;
    border-radius: 10px;
    cursor: pointer;
}

/*header*/

.page-header {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.page-header__decor {
    min-width: 100%;
    min-height: 40px;
    background-color: #E0E3EE;
    border-radius: 0 0 10px 10px;
}

/*navigation*/

.navigation__wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

@media (max-width: 630px) {
    .navigation__wrapper {
        justify-content: center;
    }
}

.navigation__menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.navigation__item {
    min-width: 86px;
    min-height: 50px;
    border-radius: 10px
}

.navigation__item--active {
    background-color: #F4F5F9;
    border-radius: 10px
}

.navigation__item:not(.navigation__item--active):hover {
    opacity: 0.6;
}
.navigation__item:not(.navigation__item--active):active {
    background-color: #d5d5d5;
}

.navigation__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 6px 7px 7px;
    height: 100%;
}

.navigation__link-icon {
    margin-bottom: 4px;
}

.navigation__label {
    font-size: 13px;
    line-height: 100%;
    font-weight: 500;
    color: #2D3B87;
}

@media (max-width: 640px) {
    .navigation__menu {
        flex-grow: 1;
        justify-content: center;
    }

    .navigation__item {
        min-width: 30%;
    }

    .navigation__link-icon {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 340px) {
    .navigation__link-icon {
        width: 40px;
        height: 40px;
    }
    .navigation__link-icon {
        width: 20px;
        height: 20px;
    }
}

/*main*/
.page-main {
    flex-grow: 1;
}

.page-main__wrapper {
    margin-top: 70px;
}

.page-main__header {
    margin-bottom: 40px;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls__sort {
        margin-bottom: 20px;
    }

@media (max-width: 640px) {
    .controls {
        flex-direction: column;
    }

    .controls__search,
    .controls__sort {
        min-width: 100%;
    }
}

@media (max-width: 340px) {
    .page-main__wrapper {
        margin-top: 20px;
    }
}

/*sort*/

.sort {
    padding: 12px;
    font-size: 15px;
    line-height: 100%;
    border: 1px solid #E0E3EE;
    border-radius: 10px;
    background-color: #F4F5F9;
}

.sort__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.controls__sort {
    margin-bottom: 20px;
}

.sort__item:not(:last-child) {
    margin-right: 12px;
}

.sort__button {
    padding: 0;
    border: none;
    background-color: transparent;
    color: #969DC3;
    cursor: pointer;
}

.sort__button--active {
    color: #2D3B87;;
}

.sort__button:not(.sort__button--active):hover {
    background-color: rgba(215, 213, 213, 0.68);
    border-radius: 5px;
}

.sort__button:active {
    border-radius: 5px;
    color: #5f627c;
}

@media (max-width: 640px) {
    .sort {
        font-size: 20px;
    }

    .sort__item {
        display: flex;
        justify-content: center;
        min-width: 30%;
    }
}

/*search*/

.search__control {
    display: flex;
    min-width: 274px;
    padding: 4px;
    border: 1px solid #E0E3EE;
    border-radius: 10px;
}

.search__input {
    flex-grow: 1;
    margin-right: 10px;
    font-family: inherit;
    font-size: 15px;
    line-height: 100%;
    color: #2D3B87;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.search__input:hover {
    background-color: rgba(245, 243, 243, 0.68);
}

.search__button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #2D3B87;
}

.search__button:hover {
    background-color: #212b64;
}

.search__button:active {
    background-color: #213ead;
}

/*Catalog*/

.catalog {
    font-size: 13px;
    line-height: 100%;
    color: #2D3B87;
}

.catalog-list__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.catalog-list__item:not(:last-child) {
    margin-bottom: 40px;
}

@media (max-width: 340px) {
    .catalog {
        font-size: 12px;
    }
}

/*offer*/

.offer {
    display: grid;
    grid-template-columns: 1fr 314px;
    border: 1px solid #E0E3EE;
    border-radius: 20px;
}

@media (max-width: 956px) {
    .offer {
        grid-template-columns: none;
        grid-auto-rows: max-content;
    }
}

.offer__main-info {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 20px;
    padding: 20px 20px 68px 20px;
}

@media (max-width: 640px) {
    .offer__main-info {
        grid-template-columns: none;
        grid-auto-rows: max-content;
    }
}

.offer__image {
    border-radius: 10px;
}

@media (max-width: 956px) {
    .offer__image {
        margin-bottom: 12px;
        justify-self: center;
    }
}

.offer__type {
    margin: 0 0 12px 0;
    padding: 0;
    color: #969DC3;
}

.offer__title {
    margin: 0 0 37px 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
}

@media (max-width: 394px) {
    .offer__title{
        margin-bottom: 10px;
    }
}

.offer__location {
    margin: 0 0 12px 0;
    padding: 5px 5px 5px 27px;
    width: max-content;
    border-radius: 5px;
    background-color: #F4F5F9;
    background-image: url("../images/svg/icon-location.svg");
    background-repeat: no-repeat;
    background-size: 10px 14px;
    background-position: center left 10px;
    color: #616CA5;
}

@media (max-width: 394px) {
    .offer__location{
        margin-bottom: 9px;
    }
}

.offer__dealer {
    display: inline-block;
    margin: 0 4px 12px 0;
    color: #969DC3;
}

.offer__product-name {
    width: max-content;
    margin: 0 0 12px 0;
    padding: 8px;
    background: #F4F5F9;
    border-radius: 10px;
}

.offer__product-type {
    display: block;
    color: #969DC3;
    margin-bottom: 6px;
}
.offer__description {
    margin: 0;
    line-height: 20px;
}

.offer__secondary-info {
    display: flex;
    flex-direction: column;
    padding: 20px 18px 20px 17px;
    border-left: 1px solid #E0E3EE;
    border-radius: 20px;
}

@media (max-width: 956px) {
    .offer__secondary-info {
        border-left: none;
        border-top: 1px solid #E0E3EE;
        border-radius: 20px;
    }
}

.offer__price {
    display: block;
    font-weight: 500;
    font-size: 20px;
    margin: 0 0 14px 0;
}

.details {
    display: flex;
    flex-direction: column;
    color: #969DC3;
    margin: 0;
}

.details__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.details__description {
    color: #2D3B87;
}

.offer__button-wrapper {
    display: flex;
    margin-top: auto;
}

.offer__add-deal-button {
    flex-grow: 1;
    max-width: 274px;
    margin: 0 auto;
    padding: 17px 35px;
}

@media (max-width: 956px) {
    .offer__add-deal-button {
        margin: 0;
    }
}

.offer__favorite-button {
    padding: 17px 17px;
    margin-left: 12px;
}

.offer__favorite-button--small {
    padding: 0;
    min-width: 40px;
    min-height: 40px;
}

.offer__favorite-button svg {
    fill: #2D3B87;
}

.offer__favorite-button--active {
    box-shadow: 0 0 3px #FF6347FF;
}

.offer__favorite-button--active svg {
    fill: #FF6347FF;
}

.offer__add-deal-button:hover,
.offer__favorite-button:hover {
    box-shadow: 0 0 4px 0 #000000;
}

.offer__pay-button {
    flex-grow: 1;
    margin: 0 auto;
    min-height: 40px;
    padding: 12px;
    background-color: #69C57F;
    color: #ffffff;
}

.offer__pay-button:hover {
    box-shadow: 0 0 4px 0 #053910;
}

.offer__pay-button--disabled {
    background-color: #ffffff;
    border: 1px solid #E0E3EE;
    color: #969DC3;
}

.offer__pay-button--disabled:hover {
    pointer-events: none;
    box-shadow: none;
    cursor: default;
}

@media (max-width: 394px) {
    .offer__button-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .offer__add-deal-button {
        margin: 0 0 12px 0;
        font-size: 14px;
        width: 100%;
    }

    .offer__favorite-button {
        display: flex;
        justify-content: center;
        position: relative;
        padding: 17px 35px;
        width: 100%;
    }

    .offer__favorite-button svg {
        width: 20px;
        height: 20px;
        opacity: 0;
    }

     .offer__favorite-button:before {
         content: "В избранное";
         position: absolute;
     }

     .offer__favorite-button--active:before {
         opacity: 0;
     }

    .offer__favorite-button--active svg {
        width: 20px;
        height: 20px;
        opacity: 1;
    }
}

.offer__add-deal-button:active,
.offer__favorite-button:active {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.23);
}

/*footer*/

.page-footer__title {
    font-size: 15px;
    margin: 15px auto;
}

.page-footer__title span {
    color: #2D3B87;
    font-weight: 400;
}

/*Loader*/
.lds-dual-ring {
    margin: auto;
    display: inline-block;
    width: 200px;
    height: 200px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 128px;
    height: 128px;
    margin: 18px;
    border-radius: 50%;
    border: 10px solid #ffffff;
    border-color: #5f60f3 transparent #020202 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
